class {{ .Name | title }} < Formula
  desc "{{ .Description }}"
  homepage "{{ .Homepage }}"
  url "{{ .URL }}"
  sha256 "{{ .SHA256 }}"
  license "{{ .License }}"

  def install
    bin.install "{{ .BinaryName }}"
  end

  test do
    system "#{bin}/{{ .BinaryName }}", "--version"
  end
end
